<%-include('./header') %>

<script>
function del(id){
    var result = window.confirm('id=' + id + ' のTODOを削除しますか。');
    if (result){
        window.location = '/del_todo?id=' + id;
    }
}
</script>
<p class="h5 mt-4">ToDo List</p>
<table class="table mt-4">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Finished</th>
        <th>Priority</th>
        <th>Completed?</th>
        <th>Delete</th>
    </tr>
    <% for(let i in data){ %>
        <% let priority_tag = "<td>";
           switch(data[i].priority){
               case 1:
                   priority_tag = '<td class="text-danger">';
                   break;
               case 2:
                   priority_tag = '<td class="text-warning">';
                   break;
               case 3:
                   priority_tag = '<td>';
                   break;
               default:
                   priority_tag = '<td>';
                   break;
           }
        %>
        <tr>
            <td><%=data[i].id %></td>
            <td><%=data[i].title %></td>
            <td><%=data[i]["datetime(finished,'+9 hours')"] %></td>
            <%-priority_tag %><%=data[i].priority %></td>
            <td><%=data[i].checked ? 'YES' : '' %></td>
            <td><a href="javascript:del(<%=data[i].id %>);">DEL</a></td>
        </tr>
    <% } %>
</table>

<%-include('./footer') %>

